@media screen and (min-width: 1200px) {
  .current-btn a,
  .unactive-link,
  .active-link {
    font-size: 13px !important;
  }

  .logo {
    width: 8%;
  }

  .btn {
    padding: 10px 20px;
  }
}

@media screen and (min-width: 925px) and (max-width: 1200px) {

  .mission-top button {
    padding: 0 15px;
  }

  .influence-statement-card,
  .statement-verfied {
    width: 30%;
  }

  .span-btn {
    padding: 0.3re m 0.6rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 925px) {
  .current-btn a,
  .unactive-link,
  .active-link {
    font-size: 12px !important;
  }

  p {
    font-size: 16px;
  }

  .main-btn-group {
    display: flex;
    flex-wrap: wrap;
    gap: 0.8rem;
    justify-content: center;
  }

  .logo {
    width: 14%;
  }

  .btn {
    padding: 10px 13px;
  }

 
}

@media screen and (min-width: 600px) and (max-width: 768px) {

  .current-btn a,
  .unactive-link,
  .active-link {
    font-size: 12px !important;
  }

  .hide-me {
    display: block;
  }

  .hide-me a {
    color: #ffff;
  }

  .btn {
    padding: 8px 8px;
    margin: 0 8px;
    border-radius: 20px;
    border: none;
    font-weight: 700;
  }

  .main-btn-group {
    flex-direction: column;
    display: flex;
    width: 100%;
    background-color: #020344;
    position: relative;
    top: -64px;
    padding: 0.5rem;
    border-radius: 0 0 10px 10px;
  }

  .active-btn a {
    color: #fff;
  }

  .current-btn {
    background-color: #fff;
  }

  .current-btn a {
    color: #020344;
  }

  .leadership-main,
  .majority-points,
  .leadership-defined-flex {
    justify-content: center;
  }

  .leadership-defined-top-p,
  .leadership-defined h2,
  .mojority-dis {
    text-align: center;
  }

  .resp600center {
    justify-content: center;
  }

  .leadership-verfied {
    flex-basis: 52%;
  }

  .leadership-defined {
    flex-basis: 70%;
  }

  .influence-statement-card {
    width: 50%;
    margin: 0 auto;
  }

  .statement-status {
    flex-wrap: wrap;
    justify-content: center;
  }

  .statement-verfied {
    flex-basis: 60%;
  }

  .statment-work-graph {
    flex-basis: 70%;
  }
}

@media screen and (min-width: 330px) and (max-width: 600px) {
  .current-btn a,
  .unactive-link,
  .active-link {
    font-size: 12px !important;
  }

  .header {
    flex-direction: column;
  }

  .hide-me {
    display: block;
  }

  .btn {
    padding: 8px 8px;
    margin: 0 8px;
    border-radius: 20px;
    border: none;
    font-weight: 700;
  }

  
  .main-btn-group {
    flex-direction: column;
    display: flex;
    width: 100%;
    background-color: #020344;
    position: relative;
    top: -64px;
    padding: 0.5rem;
    border-radius: 0 0 10px 10px;
  }

  .active-btn a {
    color: #fff;
  }

  .current-btn {
    background-color: #fff;
  }

  .current-btn a {
    color: #020344;
  }

  .leadership-main,
  .majority-points,
  .leadership-defined-flex {
    justify-content: center;
  }

  .leadership-defined-top-p,
  .leadership-defined h2,
  .mojority-dis {
    text-align: center;
  }

  .resp600center {
    justify-content: center;
  }

}
