@media screen and (max-width: 1200px) {
  .secondary_navbar_wrapper ul {
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .hide-me {
    display: block;
  }

  .secondary_navbar_wrapper{
    margin-top: -35px;
  }
  .secondary_navbar_wrapper ul{
    display: block;
    background: #020344;
    padding: 20px 0;
    padding-top: 40px;
    border-radius: 0 0 10px 10px;
  }
  .secondary_navbar_wrapper li{
    margin: 20px 0;
  }
  .secondary_navbar_wrapper li a {
    color: white;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 6px;
    padding-right: 15px;
  }
  .secondary_navbar_wrapper li a:hover{
    border: 1px solid white;
    color: white !important;
  }

  .active_secondery_navber_item {
    border: 1px solid white !important;
    border-radius: 50px !important;
    padding: 10px 20px;
    margin-left: 20px;
  }
}


@media screen and (max-width: 660px) {
  .will_be_hide_600px {
    display: none;
  }

  .hide-me {
    display: block;
  }

  .secondary_navbar_wrapper .will_be_show_600px {
    display: inline-block;
    margin-left: 20px !important;
  }


}
