* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.site-width {
    max-width: 1200px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Quicksand', sans-serif;
}

img {
    width: 100%;
}

li {
    list-style-type: none;
}

button {
    cursor: pointer;
}

h1,
h2 {
    font-family: 'Poppins', sans-serif;
}

/* .........header */
.top-header {
    background-color: #020344;
}

.header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 1rem 0;
}

.navbar > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 1rem;
}

.navbar ul > li a > svg {
    width: 20px;
    fill: #fff;
}

.active-link {
    color: #ffff;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
}

.unactive-link {
    color: #8b8b8b;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
}

.hide-me {
    display: none;
}

/* ............main */
.main {
    padding: 2rem 0;
}

.activeMe {
    display: none;
}

/*///// main button group */
.main-btn-group {
    text-align: center;
    margin: 2rem 0;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 17px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.current-btn {
    background-color: #020344;
}

.active-btn {
    background: none;
}

.unactive-btn,
.unactive-btn a {
    background: none;
    font-family: 'AirbnbCereal_W_Bk';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 100%;
    text-transform: uppercase;
    color: #020344;
}

.current-btn a {
    color: #fff;
    text-decoration: none;
}

.active-btn a {
    color: #020344;
}

.unactive-btn a {
    color: #a3a3a3;
}

.btn {
    padding: 10px 14px !important;
    margin: 0;
    border-radius: 20px;
    border: none;
    font-weight: 700;
}

.btn i {
    font-size: 20px;
    margin: 0 5px;
}

/* /////// purpose main  */
.main-purp {
    margin: 2rem 0;
    border: 1px solid #e4e4e4;
    border-radius: 20px;
    padding: 1rem;
}

.purp-content,
.mission {
    padding: 0 0.5rem 2rem;
    border: 1px solid #e1e1e1;
    border-radius: 10px;
}

.purp-content p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
    color: #020344;
}

.mission {
    margin: 2rem 0;
}

.main-purpose h1 {
    color: #020344;
    padding: 1rem 0;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 46px;
}

.main-purpose-p {
    letter-spacing: 1px;
    word-spacing: 1px;
    line-height: 25px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
    /* identical to box height, or 27px */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    /* dark */
    color: #020344;
}

.mission-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.mission-top button {
    background: none;
    border: 2px solid #020344;
    padding: 0 30px;
    height: 50px;
    border-radius: 25px;
}

.mission-top button a {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 52px;
    letter-spacing: 0.35px;
    color: #020344;
}

.leadership-main {
    padding: 2rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: 2rem;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.leadership-verfied {
    background-color: #020344;
    padding: 1rem 2rem;
    color: #fff;
    -ms-flex-preferred-size: 48%;
    flex-basis: 48%;
    border-radius: 15px;
}

.leadership-verfied p:nth-child(1) {
    color: #ffd866;
    padding: 1rem 0;
}

.leadership-verfied p:nth-child(3) {
    color: #fff;
    padding-top: 1.5rem;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 24px;
}

.leadership-verfied h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 130%;
    -webkit-font-feature-settings: 'pnum'on, 'lnum'on;
    font-feature-settings: 'pnum'on, 'lnum'on;
    color: #FFFFFF;
}

.leadership-defined {
    -ms-flex-preferred-size: 30%;
    flex-basis: 30%;
}

.leadership-defined h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    -webkit-font-feature-settings: 'pnum'on, 'lnum'on;
    font-feature-settings: 'pnum'on, 'lnum'on;
    color: #020344;
}

.leadership-defined-top-p {
    color: #9CD7EF;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
}

.leadership-defined-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
    color: #020344;
    font-weight: 600;
}

.leadership-defined-flex li:nth-child(2) {
    list-style: disc !important;
    margin-left: 20px;
}

.leadership-defined-flex li {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */
    -webkit-font-feature-settings: 'pnum'on, 'lnum'on;
    font-feature-settings: 'pnum'on, 'lnum'on;
    /* dark */
    color: #020344;
}

.mojority-dis {
    color: #ff7272;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
}

.majority-points {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 15px;
}

.majority-points p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
}

.leadership-piechart {
    margin-top: -43px;
}

.chart {
    -webkit-transform: translateY(50%);
    -ms-transform: translateY(50%);
    transform: translateY(50%);
}

.leadership-piechart p {
    -webkit-transform: translate(65%, -40%);
    -ms-transform: translate(65%, -40%);
    transform: translate(65%, -40%);
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 24px;
}

/* INFLUENCE------ */
.influence {
    padding: 2rem 0;
}

.influence-inner {
    border: 1px solid #E4E4E480;
    border-radius: 10px;
    padding: 1rem 0.5rem;
}

.influence-top h1 {
    padding: 1rem 0;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 46px;
    /* dark */
    color: #020344;
}

.influence-top p {
    padding: 0.5rem 0 1rem;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
    /* identical to box height, or 27px */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    /* dark */
    color: #020344;
}

.influence-lock {
    text-align: center;
    padding: 1rem 0;
    background-color: #dddddd;
    padding: 1rem 0;
    border-radius: 10px;
    margin: 1rem 0 1.5rem;
}

.influence-lock p {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
    /* identical to box height, or 27px */
    text-align: center;
    /* text grey */
    color: #494949;
    opacity: 0.5;
}

.influence-card {
    width: 100%;
}

.influence-statement-card {
    width: 25%;
    border-radius: 10px;
    padding: 1rem;
    border: 1px solid #9791FF;
}

/* .statemenT STATUS */
.statement-status {
    margin: 2rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.statement-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem 0 2rem;
}

.statement-top b {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    /* identical to box height, or 178% */
    /* Text/Title */
}

.span-btn {
    border: 1px solid #9791FF;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 45px;
    width: 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.influence-statement-card h1 {
    line-height: 35px;
    padding: 0.5rem 0 2rem;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 150%;
    /* or 45px */
    color: #464A53;
}

.influence-statement-card-button {
    background-color: #39C16C;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 0.5rem;
}

.statement-verfied {
    color: #fff;
    background-color: #020344;
    padding: 1rem 2rem;
    -ms-flex-preferred-size: 36%;
    flex-basis: 36%;
    border-radius: 15px;
}

.statement-top .close-btn {
    border: 2px solid #ffff;
    border-radius: 50%;
    padding: 0.35rem 0.75rem;
}

.statement-verfied h2 {
    padding: 0 0 1rem;
    font-weight: 400;
    line-height: 35px;
}

.statement-ask {
    padding: 1rem 0;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */
    color: #FFFFFF;
}

.statement-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0rem 0 2rem;
}

.statment-work-graph {
    -webkit-transform: translateY(10%);
    -ms-transform: translateY(10%);
    transform: translateY(10%);
    -ms-flex-preferred-size: 60%;
    flex-basis: 60%;
}

.statment-work-graph h1 {
    font-family: 'AirbnbCereal_W_Bk';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    color: #464A53;
}

.outer-1 {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
    margin: 1rem 0;
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #494949;
    background: rgba(153, 153, 153, 0.05);
    padding: 12px 0px;
}

.fill-box {
    height: 30px;
    background-color: #9791ff33;
    position: absolute;
    z-index: -1;
    padding: 20px 0px;
}

.outer-1 p {
    padding-left: 0.5rem;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 0;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: #494949;
}

.outer-1 p img {
    height: 15px;
    width: 15px;
    margin-left: 10px;
    margin-top: 3px;
}

.outer-1:nth-child(1) .fill-box {
    width: 15%;
}

.outer-1:nth-child(2) .fill-box {
    width: 50%;
}

.outer-1:nth-child(3) .fill-box {
    width: 22%;
}

.outer-1:nth-child(4) .fill-box {
    width: 18%;
}

.reason-why-inner {
    border: 1px solid #E4E4E480;
    border-radius: 10px;
    padding: 1rem 0.5rem;
}

.flexBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.statementDetails {
    padding-left: 33px;
}

.nameStatement {
    font-family: 'AirbnbCereal_W_Bk';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    color: #FFFFFF;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.statementDetails .nameStatement img {
    display: inline-block;
    height: 40px;
    width: 40px;
}

.nameStatement span {
    margin-left: 10px;
}

.processingDetailsArea {}

.processingDetailsArea .verifyingId {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    -webkit-font-feature-settings: 'pnum'on, 'lnum'on;
    font-feature-settings: 'pnum'on, 'lnum'on;
    color: #9791FF !important;
}

.processingDetailsArea .processingText {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 130%;
    -webkit-font-feature-settings: 'pnum'on, 'lnum'on;
    font-feature-settings: 'pnum'on, 'lnum'on;
    color: #FFFFFF;
}

.processingDetailsArea .availableDate {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 24px;
    -webkit-font-feature-settings: 'pnum'on, 'lnum'on;
    font-feature-settings: 'pnum'on, 'lnum'on;
    color: #FFFFFF;
}

.processingCalculate {}

.processingCalculate .pVerifying {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    -webkit-font-feature-settings: 'pnum'on, 'lnum'on;
    font-feature-settings: 'pnum'on, 'lnum'on;
    color: #9791FF;
}

.processingCalculate .alignment {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    -webkit-font-feature-settings: 'pnum'on, 'lnum'on;
    font-feature-settings: 'pnum'on, 'lnum'on;
    color: #020344;
}

.processingCalculate .availableNext {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    -webkit-font-feature-settings: 'pnum'on, 'lnum'on;
    font-feature-settings: 'pnum'on, 'lnum'on;
    color: #020344;
}

.processingCalculate .claculate {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    -webkit-font-feature-settings: 'pnum'on, 'lnum'on;
    font-feature-settings: 'pnum'on, 'lnum'on;
    color: #9791FF;
}

.processingCalculate .lastDate {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 24px;
    -webkit-font-feature-settings: 'pnum'on, 'lnum'on;
    font-feature-settings: 'pnum'on, 'lnum'on;
    color: #020344;
}

.processingImg .chart img {
    margin-top: -40px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.cardItem h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 150%;
    color: #464A53;
}

.cardItem .cardVerifying {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    -webkit-font-feature-settings: 'pnum'on, 'lnum'on;
    font-feature-settings: 'pnum'on, 'lnum'on;
    color: #9791FF;
}


/* raihan code  */
/* start from purpose  */
  
  /* purpose start  */
  .purpose {
    border: 1px solid #F1F1F1;
    padding: 20px;
    border-radius: 20px;
    margin: 20px 0;
  }
  
  .purpose h2{
    color: #020344;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;  
  }
  
  .purpose p{
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    color: #020344;
    text-align: justify;
  }
  /* purpose end  */
  
  /* mission start */
  
  .mission {
    border: 1px solid #F1F1F1;
    border-radius: 20px;
    padding: 20px 10px;
    margin: 20px 0;
  }
  .mission_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .mission_reason_text {
    font-weight: 600;
    color: black;
    padding: 10px 0;
    font-size: 20px;
    color: #020344;
  }
  
  .mission_title h2 {
    color: #020344;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
  }
  .mission_title button {
    text-transform: uppercase;
    outline: none;
    font-size: 14px;
    border: 2px solid #020344;
    background: transparent;
    border-radius: 50px;
    padding: 10px 25px;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
    color: #020344;
    font-family: 'Lato', sans-serif;
  }
  
  .mission_title button:hover {
    background: #020344;
    color: white;
    border: 2px solid #020344;
  }
  .inner_item_wrapper {
    margin-bottom: 20px;
  }
  
  .mission_item {
    background: #020344;
    border-radius: 10px;
    padding: 20px;
    color: white;
  }
  
  .mission_item p {
    color: #c08d26;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
  }
  
  .mission_item h2{
    font-family: 'Poppins', sans-serif;
  }
  
  .mission_item p:last-child {
    color: white;
  }

  .dislike_button {
    width: 15px;
    height: 15px;
  }
  
  /* mission end  */
  
  /* chart start  */
  /* .inner_chart_info {
  } */
  
  .inner_chart_info p {
    color: #9cd7ef;
    font-weight: 600;
  }
  
  .inner_chart_info h2 {
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    color: #020344;
  }
  
  .inner_chart_info ul {
    display: flex;
    margin-left: -30px;
    font-family: 'Poppins', sans-serif;
  }
  
  .inner_chart_info ul li {
    list-style-type: none;
    margin-right: 10px;
    color: #020344;
    font-weight: bold;
  }
  
  .inner_chart_info span {
    color: #ff9898;
    font-weight: 600;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
  }
  
  /* chart end  */