* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Quicksand", sans-serif;
}

img {
  width: 100%;
}

li {
  list-style-type: none;
}

button {
  cursor: pointer;
}

h1,
h2 {
  font-family: "Poppins", sans-serif;
}

/* .........header */

/* raihan code header start */

.main_header {
  background: #020344;
}

.main_header img {
  width: 100px;
  height: 100px;
}

.header_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_wrapper ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_header ul li {
  margin-top: 10px;
}

.main_header ul li a:hover {
  border: 1px solid #070977;
  color: white;
}
.main_header ul li a {
  text-decoration: none;
  color: #9a9ab4;
  transition: all 0.2s ease-in-out;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid transparent;
}

.main_header ul > li a > svg {
  width: 20px;
  fill: #fff;
}

.bar_icon {
  font-size: 20px;
}
.close_icon {
  font-size: 20px;
}
.hide-me {
  display: none;
}

.navbar_close_button {
  display: none;
}


.activeMe {
  display: none;
}

.show_after_close {
  display: block;
}

.closeMe {
  display: none;
}

.hide_toogle_button{
  display: none;
}

.secondary_navbar_wrapper .will_be_hide_600px {
  display: none;
}
/* raihan code header end */

.secondary_navbar_wrapper  {
  width: 100%;
  margin: 40px 0;
}

.secondary_navbar_wrapper ul {
  display: flex;
  gap: 18px;
  justify-content: center;
  flex-wrap: wrap;
}

.secondary_navbar_wrapper ul li a {
  text-decoration: none;
  color: #B3B3C7;
  margin: 0 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.secondary_navbar_wrapper ul li a:hover{
  color: #020344;
  font-weight: bolder;
}

.active_secondery_navber_item {
  background: #020344;
  padding:10px 20px;
  color: white;
  border-radius: 50px;
  color: white !important;
}


/* secondary header end  */

/* INFLUENCE------ */

.influence-inner {
  border: 1px solid #e4e4e480;
  border-radius: 10px;
  padding: 20px;
}

.influence-top h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  color: #020344;
}

.influence-top p {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
  margin-top: 20px;
  color: #020344;
}

.influence-lock {
  background-color: #dddddd;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #494949;
  opacity: 0.5;
  padding: 14px;
}

.influence-card {
  border: 2px solid #b1acff;
  padding: 30px 15px;
  border-radius: 10px;
  width: 311px;
}
.influence-card img {
  height: 40px;
  width: 40px;
}

.influence-statement-top {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.influence-statement-top i {
  border: 2px solid #b1acff;
  color: #b1acff;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-size: 20px;
}

.influence-statement-top i:hover {
  background: #b1acff;
  color: #020344;
}

.influence-card p {
  margin-left: 20px;
  font-size: 18px;
  padding: 20px 0;
  color: #464a53;
}

.influence-card a {
  text-decoration: none;
  background: #39c16c;
  padding: 8px 20px;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  margin: 50px 0;
  margin-left: 20px;
  transition: all 0.2s ease-in-out;
}

.statementDetails a {
  text-decoration: none;
  background: #39c16c;
  padding: 8px 20px;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  display: inline-block;
  transition: all 0.2s ease-in-out;
}

.statementDetails a:hover {
  background: #34a760;
  color: #020344;
}
/* .statemenT STATUS */

.statement-top {
  display: flex;
  color: white;
  gap: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  align-items: center;
}
.statement-top img {
  width: 34px;
  height: 34px;
}

.statement_all_wrapper {
  border: 1px solid rgb(233, 228, 228);
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 20px;
}

.statement_wrapper {
  background: #020344;
  padding: 20px;
  border-radius: 10px;
}
.statement-top a {
  color: white;
  border: 2px solid white;
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.statement-top a:hover {
  color: black;
  background: white;
}

/* statement done  */

.statement_graph {
  position: relative;
  z-index: 2;
}

.progress_bar {
  width: 100%;
  height: 40px;
  background: #f1efef;
  border-radius: 6px;
  position: relative;
  margin-bottom: 10px;
}
.progress_done {
  width: 10%;
  height: 100%;
  background: #e6e5fb;
  padding: 5px 8px;
  border-radius: 6px 0 0 6px;
}
.progress_text {
  position: absolute;
  left: 15px;
  top: 8px;
  font-weight: 600;
}

.progress_percentage {
  position: absolute;
  right: 15px;
  top: 8px;
  font-weight: 600;
}

/* mostly yes  */
.mostly_yes {
  width: 50%;
}

.check_circle {
  color: #020344;
  border-radius: 50%;
}

/* i am not sure  */
.iAm_not_sure {
  width: 22%;
}

/* who knows  */
.who_knows {
  width: 18%;
}
.response {
  text-align: right;
  margin-right: 15px;
  font-weight: 600;
}

.reason-why-inner {
  border: 1px solid #e4e4e480;
  border-radius: 10px;
  padding: 20px;
}

.reason-why-inner h1 {
  color: #99999999;
  font-size: 28px;
}



.statementDetails {
  margin-left: 68px;
  color: white;
}

.statementDetails h5 {
  font-size: 30px;
  color: white;
}

/* purpose start  */
.purpose {
  border: 1px solid #f1f1f1;
  padding: 20px;
  border-radius: 10px;
  margin: 20px 0;
}

.purpose h2 {
  color: #020344;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}

.purpose p {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: #020344;
  text-align: justify;
}
/* purpose end  */

/* mission start */

.mission {
  border: 1px solid #f1f1f1;
  border-radius: 10px;
  padding: 20px 10px;
  margin: 20px 0;
}
.mission_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mission_reason_text {
  font-weight: 600;
  color: black;
  padding: 10px 0;
  font-size: 20px;
  color: #020344;
}

.mission_title h2 {
  color: #020344;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}
.mission_title button {
  text-transform: uppercase;
  outline: none;
  font-size: 14px;
  border: 2px solid #020344;
  background: transparent;
  border-radius: 50px;
  padding: 10px 25px;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
  color: #020344;
  font-family: "Lato", sans-serif;
}

.mission_title button:hover {
  background: #020344;
  color: white;
  border: 2px solid #020344;
}
.inner_item_wrapper {
  margin-bottom: 20px;
}

.mission_item {
  background: #020344;
  border-radius: 10px;
  padding: 20px;
  color: white;
}

.mission_item p {
  color: #c08d26;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.mission_item h2 {
  font-family: "Poppins", sans-serif;
}

.mission_item p:last-child {
  color: white;
}

.dislike_button {
  width: 15px;
  height: 15px;
}

.like_button {
  color: #9791ff !important;
}
/* mission end  */

/* chart start  */
/* .inner_chart_info {
  } */

.inner_chart_info p {
  color: #9cd7ef;
  font-weight: 600;
}

.inner_chart_info h2 {
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  color: #020344;
}

.inner_chart_info ul {
  display: flex;
  margin-left: -30px;
  font-family: "Poppins", sans-serif;
}

.inner_chart_info ul li {
  list-style-type: none;
  margin-right: 10px;
  color: #020344;
  font-weight: bold;
}

.inner_chart_info span {
  color: #ff9898;
  font-weight: 600;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}

/* chart end  */
