* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.site-width {
  max-width: 1200px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Quicksand", sans-serif;
}

img {
  width: 100%;
}

li {
  list-style-type: none;
}

button {
  cursor: pointer;
}

h1,
h2 {
  font-family: "Poppins", sans-serif;
}

/* .........header */
.top-header {
  background-color: #020344;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 1rem 0;
}

.navbar > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 1rem;
}

.navbar ul > li a > svg {
  width: 20px;
  fill: #fff;
}

.active-link {
  color: #ffff;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
}

.unactive-link {
  color: #8b8b8b;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
}

.hide-me {
  display: none;
}

/* ............main */
.main {
  padding: 2rem 0;
}

.activeMe {
  display: none;
}

/*///// main button group */
.main-btn-group {
  text-align: center;
  margin: 2rem 0;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 17px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.current-btn {
  background-color: #020344;
}

.active-btn {
  background: none;
}

.unactive-btn,
.unactive-btn a {
  background: none;
  font-family: "AirbnbCereal_W_Bk";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 100%;
  text-transform: uppercase;
  color: #020344;
}

.current-btn a {
  color: #fff;
  text-decoration: none;
}

.active-btn a {
  color: #020344;
}

.unactive-btn a {
  color: #a3a3a3;
}

.btn {
  padding: 10px 14px !important;
  margin: 0;
  border-radius: 20px;
  border: none;
  font-weight: 700;
}

.btn i {
  font-size: 20px;
  margin: 0 5px;
}

/* INFLUENCE------ */

.influence-inner {
  border: 1px solid #e4e4e480;
  border-radius: 10px;
  padding: 20px;
}

.influence-top h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  color: #020344;
}

.influence-top p {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
  margin-top: 20px;
  color: #020344;
}

.influence-lock {
  background-color: #dddddd;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #494949;
  opacity: 0.5;
  padding: 14px;
}

.influence-card {
  border: 2px solid #b1acff;
  padding: 30px 15px;
  border-radius: 10px;
  width: 311px;
}
.influence-card img {
  height: 40px;
  width: 40px;
}

.influence-statement-top {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.influence-statement-top i {
  border: 2px solid #b1acff;
  color: #b1acff;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-size: 20px;
}

.influence-statement-top i:hover {
  background: #b1acff;
  color: #020344;
}

.influence-card p {
  margin-left: 20px;
  font-size: 18px;
  padding: 20px 0;
  color: #464a53;
}

.influence-card a {
  text-decoration: none;
  background: #39c16c;
  padding: 8px 20px;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  margin: 50px 0;
  margin-left: 20px;
  transition: all 0.2s ease-in-out;
}

.statementDetails a {
  text-decoration: none;
  background: #39c16c;
  padding: 8px 20px;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  display: inline-block;
  transition: all 0.2s ease-in-out;
}

.statementDetails a:hover {
  background: #34a760;
  color: #020344;
}
/* .statemenT STATUS */

.statement-top {
  display: flex;
  color: white;
  gap: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  align-items: center;
}
.statement-top img {
  width: 40px;
  height: 40px;
}

.span-btn {
  border: 1px solid #9791ff;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 45px;
  width: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.influence-statement-card h1 {
  line-height: 35px;
  padding: 0.5rem 0 2rem;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 150%;
  /* or 45px */
  color: #464a53;
}

.influence-statement-card-button {
  background-color: #39c16c;
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 0.5rem;
}

.statement_all_wrapper {
  border: 1px solid rgb(233, 228, 228);
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 20px;
}

.statement_wrapper {
  background: #020344;
  padding: 20px;
  border-radius: 10px;
}
.statement-top a {
  color: white;
  border: 2px solid white;
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.statement-top a:hover {
  color: black;
  background: white;
}

/* statement done  */

.statement_graph {
  position: relative;
  z-index: 2;
}

.progress_bar {
  width: 100%;
  height: 40px;
  background: #f1efef;
  border-radius: 6px;
  position: relative;
  margin-bottom: 10px;
}
.progress_done {
  width: 10%;
  height: 100%;
  background: #e6e5fb;
  padding: 5px 8px;
  border-radius: 6px 0 0 6px;
}
.progress_text {
  position: absolute;
  left: 15px;
  top: 8px;
  font-weight: 600;
}

.progress_percentage {
  position: absolute;
  right: 15px;
  top: 8px;
  font-weight: 600;
}

/* mostly yes  */
.mostly_yes {
  width: 50%;
}

.check_circle {
  color: #020344;
  border-radius: 50%;
}

/* i am not sure  */
.iAm_not_sure {
  width: 22%;
}

/* who knows  */
.who_knows {
  width: 18%;
}
.response {
  text-align: right;
  margin-right: 15px;
  font-weight: 600;
}
.statment-work-graph {
  -webkit-transform: translateY(10%);
  -ms-transform: translateY(10%);
  transform: translateY(10%);
  -ms-flex-preferred-size: 60%;
  flex-basis: 60%;
}

.statment-work-graph h1 {
  font-family: "AirbnbCereal_W_Bk";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  color: #464a53;
}

.outer-1 {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  margin: 1rem 0;
  font-family: "Quicksand", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #494949;
  background: rgba(153, 153, 153, 0.05);
  padding: 12px 0px;
}

.fill-box {
  height: 30px;
  background-color: #9791ff33;
  position: absolute;
  z-index: -1;
  padding: 20px 0px;
}

.outer-1 p {
  padding-left: 0.5rem;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 0;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #494949;
}

.outer-1 p img {
  height: 15px;
  width: 15px;
  margin-left: 10px;
  margin-top: 3px;
}

.outer-1:nth-child(1) .fill-box {
  width: 15%;
}

.outer-1:nth-child(2) .fill-box {
  width: 50%;
}

.outer-1:nth-child(3) .fill-box {
  width: 22%;
}

.outer-1:nth-child(4) .fill-box {
  width: 18%;
}

.reason-why-inner {
  border: 1px solid #e4e4e480;
  border-radius: 10px;
  padding: 20px;
}

.reason-why-inner h1 {
  color: #99999999;
  font-size: 28px;
}

.flexBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.statementDetails {
  margin-left: 20px;
  color: white;
}

.statementDetails h5 {
  font-size: 30px;
  color: white;
}

.statementDetails a {
}

.nameStatement {
  font-family: "AirbnbCereal_W_Bk";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.statementDetails .nameStatement img {
  display: inline-block;
  height: 40px;
  width: 40px;
}

.nameStatement span {
  margin-left: 10px;
}

.processingDetailsArea {
}

.processingDetailsArea .verifyingId {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  -webkit-font-feature-settings: "pnum" on, "lnum" on;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #9791ff !important;
}

.processingDetailsArea .processingText {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 130%;
  -webkit-font-feature-settings: "pnum" on, "lnum" on;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #ffffff;
}

.processingDetailsArea .availableDate {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 24px;
  -webkit-font-feature-settings: "pnum" on, "lnum" on;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #ffffff;
}

.processingCalculate {
}

.processingCalculate .pVerifying {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  -webkit-font-feature-settings: "pnum" on, "lnum" on;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #9791ff;
}

.processingCalculate .alignment {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  -webkit-font-feature-settings: "pnum" on, "lnum" on;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #020344;
}

.processingCalculate .availableNext {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  -webkit-font-feature-settings: "pnum" on, "lnum" on;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #020344;
}

.processingCalculate .claculate {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  -webkit-font-feature-settings: "pnum" on, "lnum" on;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #9791ff;
}

.processingCalculate .lastDate {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 24px;
  -webkit-font-feature-settings: "pnum" on, "lnum" on;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #020344;
}

.processingImg .chart img {
  margin-top: -40px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.cardItem h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 150%;
  color: #464a53;
}

.cardItem .cardVerifying {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  -webkit-font-feature-settings: "pnum" on, "lnum" on;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #9791ff;
}

/* raihan code  */
/* start from purpose  */

/* purpose start  */
.purpose {
  border: 1px solid #f1f1f1;
  padding: 20px;
  border-radius: 10px;
  margin: 20px 0;
}

.purpose h2 {
  color: #020344;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}

.purpose p {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: #020344;
  text-align: justify;
}
/* purpose end  */

/* mission start */

.mission {
  border: 1px solid #f1f1f1;
  border-radius: 10px;
  padding: 20px 10px;
  margin: 20px 0;
}
.mission_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mission_reason_text {
  font-weight: 600;
  color: black;
  padding: 10px 0;
  font-size: 20px;
  color: #020344;
}

.mission_title h2 {
  color: #020344;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}
.mission_title button {
  text-transform: uppercase;
  outline: none;
  font-size: 14px;
  border: 2px solid #020344;
  background: transparent;
  border-radius: 50px;
  padding: 10px 25px;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
  color: #020344;
  font-family: "Lato", sans-serif;
}

.mission_title button:hover {
  background: #020344;
  color: white;
  border: 2px solid #020344;
}
.inner_item_wrapper {
  margin-bottom: 20px;
}

.mission_item {
  background: #020344;
  border-radius: 10px;
  padding: 20px;
  color: white;
}

.mission_item p {
  color: #c08d26;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.mission_item h2 {
  font-family: "Poppins", sans-serif;
}

.mission_item p:last-child {
  color: white;
}

.dislike_button {
  width: 15px;
  height: 15px;
}

.like_button {
  color: #9791ff !important;
}
/* mission end  */

/* chart start  */
/* .inner_chart_info {
  } */

.inner_chart_info p {
  color: #9cd7ef;
  font-weight: 600;
}

.inner_chart_info h2 {
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  color: #020344;
}

.inner_chart_info ul {
  display: flex;
  margin-left: -30px;
  font-family: "Poppins", sans-serif;
}

.inner_chart_info ul li {
  list-style-type: none;
  margin-right: 10px;
  color: #020344;
  font-weight: bold;
}

.inner_chart_info span {
  color: #ff9898;
  font-weight: 600;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}

/* chart end  */
